<header style="background-color: #2d2d2d; display: flex; justify-content: space-between; align-items: center; padding: 1rem; margin-bottom: 2rem;">
    <div style="display: flex; align-items: center; gap: 0.75rem;">
      <h1 style="color: #4f46e5; font-size: 1.50rem; margin: 0;">Zeppelin Basic Setup Tool</h1>
    </div>
    <a href="https://github.com/SetupToolZep/SetupToolZep.github.io" target="_blank" rel="noopener noreferrer" style="display: flex; align-items: center;">
      <img src="https://img.icons8.com/ios11/512/FFFFFF/github.png" alt="GitHub" style="width: 45px; height: 45px;" />
    </a>
  </header>
  